.home{
	height: 100vh;
	background-image: url(../img/background.jpg);
	color: $blue;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
    align-items: center;
    justify-content: center;

	.home-text{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		width: 440px;
		height: 100px;
		padding: 5px;
		background-color: rgba($white, .7);

		h1, h2{
			height: auto;
		    margin: 0;
		}
	}

	@media screen and (max-width: 600px){
		height: 60vh;
	}
}