.portfolio{
	.portfolio-items{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding: 0;

		.portfolio-item{
			list-style-type: none;
			height: 220px;
			width: 220px;
			height: 330px;
			width: 330px;
			margin: 20px;
			background-color: $iron;
		}
	}
	// @media screen and (max-width: 1200px){
	// 	width: 80vw;
 //    	margin: 0 auto;
	// }
}